{% extends 'base.html' %}

{% block content %}
    <!-- Conteúdo específico do dashboard do usuário aqui -->
    <h1>Bem-vindo ao seu Dashboard, Colaborador!</h1>
    
    {% if user.is_staff %}
        <!-- Se o usuário for um staff, exiba os dados do banco de dados -->
        <h2>Dados do Banco de Dados:</h2>
        <ul>
            {% for objeto in objetos_do_banco_de_dados %}
                <li>{{ objeto.nome }}</li>
                <!-- Adicione mais campos conforme necessário -->
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
