<!-- appointment_scheduling/templates/appointment_scheduling/appointment_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Detail</title>
</head>
<body>
    <h2>Appointment Detail</h2>
    <p><strong>Patient:</strong> {{ appointment.patient.name }}</p>
    <p><strong>Doctor:</strong> {{ appointment.doctor.name }}</p>
    <p><strong>Date and Time:</strong> {{ appointment.appointment_datetime }}</p>
    <!-- Adicione outros detalhes da consulta conforme necessário -->
</body>
</html>
