<!-- appointment_scheduling/templates/appointment_scheduling/appointment_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment List</title>
</head>
<body>
    <h2>Appointment List</h2>
    <ul>
        {% for appointment in appointments %}
            <li>
                <strong>Patient:</strong> {{ appointment.patient.name }} <br>
                <strong>Doctor:</strong> {{ appointment.doctor.name }} <br>
                <strong>Date and Time:</strong> {{ appointment.appointment_datetime }} <br>
                <!-- Adicione outros detalhes da consulta conforme necessário -->
            </li>
        {% empty %}
            <li>No appointments scheduled.</li>
        {% endfor %}
    </ul>
</body>
</html>
