<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Healthcare App{% endblock %}</title>
    <!-- Adicione os links para os arquivos de estilo CSS e scripts JavaScript comuns a todas as páginas -->
</head>
<body>
    <header>
        <!-- Adicione o cabeçalho comum a todas as páginas aqui -->
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <!-- Adicione o rodapé comum a todas as páginas aqui -->
    </footer>
</body>
</html>
