{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- Barra de navegação para login de usuários e colaboradores -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- ... -->
        <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login_user' %}">Login como Usuário</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login_staff' %}">Login como Staff</a>
				</li>
			</ul>
        </div>
    <!-- ... -->
</nav>

<!-- Conteúdo da página -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Adicione scripts JavaScript e links para arquivos de script aqui -->

</body>
</html>
